wheel
git+git://github.com/c0ntribut0r/ang@master
requests<=3

tenacity==6.3.1
celery<5  # bc of flower
flower
redis
sentry-sdk==1.1.0

# installed by alpine-packages
# psycopg2-binary
# pandas

ipdb
jedi<0.18  # 0.18 is broken
pydocstyle
mypy
flake8
pytest
nox
